
/* Critical CSS for above-the-fold content */

:root {
  --primary-color: #ffa8ee;
  --heading-color: #1A1A1A;
  --primary-black-color: #0E0F11;
  --white-color: #ffffff;
  --text-color: #9E9FA0;
  --border-color: #313131;
  --gray-dark: #18191B;
  --heading-font: "Source Sans 3", serif;
  --body-font: "Roboto", serif;
}

html {
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

i,
span,
a {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0px;
  color: var(--white-color);
  font-family: var(--heading-font);
}

h1 {
  font-size: 85px;
  line-height: 100px;
}

h2 {
  font-size: 52px;
  line-height: 58px;
}

h3 {
  font-size: 27px;
  line-height: 40px;
}

h4 {
  font-size: 24px;
  line-height: 34px;
}

h5 {
  font-size: 20px;
  line-height: 1;
}

h6 {
  font-size: 18px;
  line-height: 1;
}

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

p {
  margin: 0px;
}

input, textarea {
  display: inherit;
}

button {
  border: none;
}

label {
  margin-bottom: 0;
}

iframe {
  width: 100%;
  border: none;
  display: inherit;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--primary-black-color);
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 30px;
  overflow-x: hidden;
}

main {
  display: inline-block;
  width: 100%;
}
